body{
color:purple;
background:pink;
border:1px dotted grey;
}
.span{
font-size:40px;
color:green;
border:1px dashed black;
}
#camera,#result{
color:blue
width:350px;
height:300px;
border:2px solid aquamarine;
}
label{
font-size:10px;
background-color:yellow;
padding:2px;
border-radius:10;
}
.emoji,.emotion_name{
font-size:60px;
}
#result_emotion_name,#result_emotion_name2{
color:orange;
}
.heading{
font-size:30px;
border-radius:10px;
letter-spacng:10px;
}




